{% extends "layout.html.twig" %}
{% block contenu %}


	<div class="row">
		<h1> Projet 2 web : site de vente - Accueil </h1>
	</div>

	<h1> Projet 2 web : site de vente - Accueil </h1>


{% endblock %}

